@import "tailwindcss";

html {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(270deg, #000000, #434343);
    background-size: 600% 600%;
    background-color: black;
    animation: animatedBackground 10s ease-in-out infinite;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.link-list a {
    @apply block bg-white hover:bg-gray-200 active:bg-gray-400 text-gray-800 font-semibold py-3 px-5 border rounded-full border-gray-400 shadow transition-all w-full text-center;
}

.icon-button-list a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon-button-list a:hover {
    transform: scale(1.1);
}

.icon-button-list a:active {
    transform: scale(0.9);
}
